<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout/blayout">
<head>
    <title>Welcome to One Event</title>
</head>

<body>

<section layout:fragment="content">
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <h3>Dash : Welcome Admin Side</h3>
</section>

<section layout:fragment="footer-js">
    <script type="text/javascript" th:src="@{/js/admin/admin.js}"/>
</section>

</body>
</html>