<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Google Map</title>
    <style type="text/css">
        div#map_container{
            width:100%;
            height: 1100px;
            margin: 0px;
        }
        #map_container {
            position: relative;
        }
    </style>
</head>

<body>

<section layout:fragment="content">
    <div id="map_container"></div>
</section>

<section layout:fragment="footer-js">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATeCmVFodOknar5p6L4N6-qZwC2jzDWDk&callback=loadMap" type="text/javascript"></script>

    <script type="text/javascript">
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;

        function loadMap() {
            var latlng = new google.maps.LatLng(11.5683986, 104.9129772);
            var myOptions = {
                zoom: 18,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
//                mapTypeId: 'hybrid'
//                gestureHandling: 'cooperative' // Disable scroll
            };

            var map = new google.maps.Map(document.getElementById("map_container"),myOptions);
            /*var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"my office, GL Finance"
            });*/

            // This event listener calls addMarker() when the map is clicked.
            /*google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
            });*/

            // Add a marker at the center of the map.
            addMarker(latlng, map);

            var imageBounds = {
                north: 40.773941,
                south: 40.712216,
                east: -74.12544,
                west: -74.22655
            };

            var historicalOverlay;
            historicalOverlay = new google.maps.GroundOverlay(
                'https://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg',
                imageBounds);
            historicalOverlay.setMap(map);

        }


        // Adds a marker to the map.
        function addMarker(location, map) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title:"my office, GL Finance",
               // icon:image,
                draggable:true,

            });
        }



       /* var map;
        function loadMap() {
            map = new google.maps.Map(document.getElementById('map_container'), {
                zoom: 3,
                center: new google.maps.LatLng(2.8,-187.3),
                mapTypeId: 'terrain'
            });

            // Create a <script> tag and set the USGS URL as the source.
            var script = document.createElement('script');
            // This example uses a local copy of the GeoJSON stored at
            // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
//            script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
            script.src = 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp';
            document.getElementsByTagName('head')[0].appendChild(script);
        }

        // Loop through the results array and place a marker for each
        // set of coordinates.
        window.eqfeed_callback = function(results) {
            for (var i = 0; i < results.features.length; i++) {
                var coords = results.features[i].geometry.coordinates;
                var latLng = new google.maps.LatLng(coords[1],coords[0]);
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
            }
        }*/
    </script>

</section>

</body>
</html>